
<div class="container my-3">
  <div class="about-form mx-auto">
    <h3 class="text-center">
      よくある質問
      <i class="far fa-question-circle" style="color: #6c6c93"></i>
    </h3>

    <div>
      <input type="checkbox" id="question1" name="q"  class="questions">
      <div class="plus">+</div>
      <label for="question1" class="about-question">
        <p class="mb-0">何のためのサイトですか？</p>
      </label>
      <div class="about-answers">
        <p class="mb-0">
          「これってロシア語でなんて言うんだろう？」という疑問をお互いに解決するためのサイトです。
        </p>
      </div>
    </div>

    <div>
      <input type="checkbox" id="question2" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question2" class="about-question">
        <p class="mb-0">質問をしたり、回答するためにはどうすればいいですか？</p>
      </label>
      <div class="about-answers">
        <p class="mb-0">
          簡単なアカウント作成をしていただくことで、
          質問や回答ができるようになります。
          右上の「ログイン」メニューから新規アカウントの作成を選んでください。
        </p>
      </div>
    </div>

    <div>
      <input type="checkbox" id="question3" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question3" class="about-question">
        <p class="mb-0">どんな質問ができますか？</p>
      </label>
      <div class="about-answers">
        <p class="mb-0">
          ロシア語の単語や表現についての質問のみ受け付けます。
          「〜ってロシア語でなんて言うの？」の形式でご質問ください。
        </p>
      </div>
    </div>

    <div>
      <input type="checkbox" id="question4" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question4" class="about-question">
        <p class="mb-0">回答する人にはどんなメリットがありますか？</p>
      </label>
      <div class="about-answers">
        <p class="mb-0">
          他のユーザーさんの質問に答えていただけることで、
          回答者さんのSNSやウェブサイトが知られるきっかけになります。
          <br>
          それぞれの回答の下に回答者さんの情報が表示されます。
          表示される情報は、アカウント作成・編集時に設定可能です。
          <br>
          なお、情報を載せたくない情報は、アカウント作成・編集時に
          入力しなければ表示されませんので、ご安心ください。
        </p>
      </div>
    </div>

    <div>
      <input type="checkbox" id="question5" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question5" class="about-question">
        <p class="mb-0">投稿した質問内容を変更や削除はできますか？</p>
      </label>
      <div class="about-answers">
        <p class="mb-0">
          質問内容の編集は、最初の回答が付くまでは可能です。
          （最初の質問が付くと、編集ボタンが現れなくなる仕組みになっています。）
          <br>
          質問を編集したい場合は、ご自身の質問に付いている編集ボタンを押してください。
          <br>
          なお、質問の削除はいつでも可能です。
        </p>
      </div>
    </div>

    <div>
      <input type="checkbox" id="question6" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question6" class="about-question">
        <p class="mb-0">回答内容の変更や削除はできますか？</p>
      </label>
      <div class="about-answers">
        <p class="mb-0">
          回答内容の編集はいつでも可能です。
          <br>
          回答を編集したい場合は、回答された質問のページに行き、ご自分の回答に付いている編集ボタンを押してください。
          <br>
          また、回答を削除したい場合は、同じくご自身の回答についている削除ボタンを押してください。
          <br>
          なお、回答した質問自体が削除された場合、その質問への回答も全て削除されますので、ご了承ください。
        </p>
      </div>
    </div>

    <div>
      <input type="checkbox" id="question7" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question7" class="about-question">
        <p class="mb-0">免責事項など</p>
      </label>
      <div class="about-answers">
        <p class="mb-0">
          本サービスの運営者は、以下の事項について一切保証いたしません。
          本サービスのご利用の際には、利用者様ご自身の責任でお使いください。
          <br>
          (1) 質問及び回答を初めとした、
          本サービス上で提供される全ての情報に関する、
          有用性、正確性、信頼性、安全性、合法性、道徳性、
          最新性その他当該情報の内容
          <br>
          (2) 本サービスの提供に不具合、エラーや障害が生じないこと
          <br>
          (3) 本サービス上における情報が第三者の権利を侵害しないこと
          <br>
          (4) 本サービスの存続又は同一性が維持されること
        </p>
      </div>
    </div>
  </div>

</div>
